@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 1.4fr 4.9fr 4.2fr 1.2fr;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "map"
    "footer";
}
header {
  @apply bg-stone-50;
  grid-area: header;
}
.hearder > .left-nav {
  @apply flex justify-start items-center;
}
.left-nav > img {
  border-radius: 50%;
  width: 50px;
}
.sidebar-content {
  @apply bg-blue-400;
  grid-area: sidebar;
}
.sidebar-content > .sidebar {
  padding: 5px;
  position: relative;
}
.sidebar .http-requests {
    @apply flex justify-center;
  gap: 1;
}
.sidebar > .social-links {
    @apply flex justify-around flex-row;
}
main {
  @apply bg-green-700;
  grid-area: content;
}
main > .content {
    @apply flex justify-start flex-wrap;
  padding: 20px 20px 20px 20px;
}
.content > p {
    @apply flex flex-wrap;
  padding: 20px;
}
#map {
  background-color: gray;
  grid-area: map;
}
.http-requests {
    @apply flex justify-center flex-col;
  width: auto;
}
.http-requests > #buttonListStates {
  border-radius: 8px;
  @apply bg-green-700 flex justify-center;
  color: white;
  padding: 20px;
}
.footer {
  @apply bg-yellow-200;
  grid-area: footer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  @apply bg-slate-300 cursor-pointer;
}
.pagination {
  margin-top: 20px;
  @apply flex justify-center;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  @apply cursor-pointer bg-green-200;
  border-radius: 8px;
  color: black;
}
.pagination button.active {
  background-color: #4caf50;
  color: white;
}

@media screen and (min-width: 500px) {
  .main-container {
    @apply grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.3fr;
    height: 100vh;
    grid-template-areas:
      "header header header"
      "sidebar content map"
      "footer footer footer";
  }
  header {
    grid-area: header header;
    @apply grid bg-yellow-50 flex-row;
    grid-template-columns: 50% 50%;
    max-width: 100%;
  }
  .hearder > .left-nav {
    @apply flex justify-start items-center;
  }
  .left-nav > img {
    border-radius: 50%;
    width: 50px;
  }
  .hearder > .middle-nav {
    @apply flex justify-evenly flex-row items-center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  .sidebar {
    @apply grid;
    grid-template-rows: auto 20px;
    height: 100%;
  }
  .sidebar > .http-requests {
    @apply flex justify-start flex-col;
  }
  .sidebar > .social-links {
    height: 50px;
    width: 100%;
    bottom: 0;
    padding-bottom: 1.5em;
    @apply flex justify-around items-end absolute bottom-0;
    flex-direction: row;
  }
  main > .content {
    @apply flex flex-wrap justify-start;
    padding: 20px 20px 20px 20px;
  }
  .content > p {
    @apply flex flex-wrap;
    padding: 20px;
  }
}
